# Identifier Services API development env file template

# Common
NODE_ENV=development # Always setup runtime approriately
HTTP_PORT=8081

# DB - note: always use distinct local development DB!
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Security
APPLICATION_ROLE_MAP='{"admin": [], "publisher": []}' # Note: insert the keycloak roles that should map to application admin as string entries to the array
CORS_WHITELIST='["http://localhost:8080", "http://localhost:5173"]' # By default allow ports used in UI development development/staging
ENABLE_PROXY=false # You should not need proxy in local development setup

KEYCLOAK_ALGORITHMS='[]' # Add appropriate algorithm
KEYCLOAK_AUDIENCE='' # Add audience configured in your Keycloak instance client settings
KEYCLOAK_ISSUER='' # Add keycloak realm base url
KEYCLOAK_JWKS_URL='' # Add keycloak realm base url expanded with /protocol/openid-connect/certs

# Logging
LOG_LEVEL=debug # You most probably want debug level logging in development
PROXY_CUSTOM_HEADER= # In development there is no need for using custom proxy header
